{% extends "layout.html.twig" %}

{% block content %}

    <h1 class="text-center">Liste des livres</h1>    

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Nb de pages</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="/books/details?id={{ book.id }}">{{ book.title }}</a></td>
                    <td>{{ book.nb_of_pages }}</td>
                    <td>{{ book.author }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <p><a href="/refreshColors">Effacer les couleurs moches</a></p>
        <p><a href="/books/add">Ajouter un nouveau livre</a></p>
    </table>

{% endblock %}